<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HandleBars</title>
</head>
<body>

    <header><h1>Aqui é o cabeçalho</h1></header>
   {{{body}}}

   <footer><h1>Aqui é o rodapé</h1></footer>
</body>
</html>