<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js + mySql</title>
</head>
<header>
    <h1>Cabeçalho</h1>
</header>

<body>
    {{{body}}}

    <footer>
        <h2>Rodapé</h2>
    </footer>
</body>

</html>